@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin huge {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

body {
  margin: 0;
}
