$header-blue: #4389a2;
$header-purple: #5c258d;
$header-color: #fff;
$header-accent-color: tint($header-blue, 30%);

.home {
  @include clearfix;

  header {
    background: url("/hexes.svg"), linear-gradient(30deg, $header-purple, $header-blue);
    color: $header-color;
    padding: 4em 0;

    @include large {
      padding: 6em 0;
    }

    @include huge {
      padding: 8em 0;
    }

    .header-content {
      margin: 0 16.66667%;

      h1 {
        font-weight: 200;
        margin: 0;
        margin-bottom: .5em;

        @include medium {
          font-size: 2.5em;
        }

        @include large {
          font-size: 3.5em;
        }

        em {
          &:before {
            clear: both;
            content: '';
            display: block;

            @include large {
              display: none;
            }
          }

          color: $header-accent-color;
        }
      }

      span {
        font-weight: 200;
        margin: 0;

        @include medium {
          font-size: 1.17em;
        }
      }
    }
  }

  main {
    margin: 0 16.66667%;
  }
}
