$header-blue: #4389a2;
$header-purple: #5c258d;
$header-color: #fff;
$header-accent-color: lighten($header-blue, 30%);

.home {
  @include grid-container;

  header {
    background: url("/hexes.svg"), linear-gradient(30deg, $header-purple, $header-blue);
    color: $header-color;
    padding: 10em 0;

    .header-content {
      @include grid-column(8);
      @include grid-push(2);

      h1 {
        font-size: 3.5em;
        font-weight: 200;
        margin: 0;
        margin-bottom: 16px;

        em {
          color: $header-accent-color;
        }
      }

      span {
        font-weight: 200;
        margin: 0;
      }
    }
  }

  main {
    @include grid-column(8);
    @include grid-push(2);
  }
}
