.home {
  @include animation(bounce-in-up 1s);
  text-align: center;
}

.home-title {
  @include animation(hue 20s infinite linear);
  @include background-image(linear-gradient(92deg,#f35626,#feab3a));
  -webkit-background-clip: text;
  color: #f35626;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: .05em;
}

.home-content {
  @include animation(bounce-in-up 1s);
  @include animation-delay(.1s);
}

.home-links {
  @include animation(bounce-in-up 1s);
  @include animation-delay(.2s);
}

@include keyframes(bounce-in-up) {
  0%,
  60%,
  75%,
  90%,
  100% {
    @include transition-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
  }

  0% {
    opacity: 0;
    @include transform(translate3d(0, 3000px, 0));
  }

  60% {
    opacity: 1;
    @include transform(translate3d(0, -20px, 0));
  }

  75% {
    @include transform(translate3d(0, 10px, 0));
  }

  90% {
    @include transform(translate3d(0, -5px, 0));
  }

  100% {
    @include transform(translate3d(0, 0, 0));
  }
}

@include keyframes(hue) {
  0% {
    @include filter(hue-rotate(0deg));
  }

  100% {
    @include filter(hue-rotate(-360deg));
  }
}
